body{
	background:rgb(61, 52, 20);
	//background:rgb(41, 1, 5);
	
}
.Display{
	margin: 20px auto 5px auto;
	width: 260px;
	height:50px;
	border-style:inset;
	border-color: rgb(228, 232, 5);
	text-align:right;
	font-size:40px;
	letter-spacing: 4px;
	font-family:Lobster;
	background:rgb(66, 64, 64);
	color:rgb(245, 243, 122);
}
.stan_bdy{
	width:100px;
	height:100px;
	margin:0px 15px 10px 15px;
	border:none;
	//border:inset;
}
.Calculator{
	width:290px;
	height:450px;
	border:outset;
	border-color: white;
	margin:auto;
	margin-top: 80px;
	position:relative;
	background:rgba(242, 87, 123);
}
.head{
 	width:98px;
 	height:30px;
 	margin:20px 15px 0px 15px;
 	
}
#btn1{
	border:none;
	width:39px;
	height:28px;
	font-size:100%;
	font-family:Satisfy;
	color: rgb(237, 9, 62);
}
#btn1:hover{
	color:white;
	background: rgb(237, 9, 62);
}
#btn{
	border:none;
	width:61px;
	height:45px;
	font-family:Satisfy;
	font-weight: bolder;
	font-size:175%;
	color:rgb(245, 43, 7);

}
#btn:hover{
	color:white;
	background:rgb(245, 43, 7); 
}
